body {
  margin: 0;
  overflow: hidden;
}

* {
  font-family: "Open Sans", sans-serif;
}

.d-none {
  display: none !important;
}

.container {
  height: 100vh;
  display: block;
  overflow: hidden;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
}

.open-sidebar .main {
  width: calc(100% - 320px);
}

.main-videos {
  flex-grow: 1;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-controls {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.main-controls > div {
  display: flex;
  min-width: 62px;
}

.main-control-block.chat {
  margin-left: 104px;
}

.main-control-button {
  border: 1px solid #dcdcdc;
  color: #c91e18;
  font-size: 16px;
  border-radius: 50%;
  margin: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 300ms;
}

.main-control-button:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
  background-color: #f0f0f1;
}

.main-control-button.active {
  border: 1px solid #c91e18;
  background-color: #c91e18;
  color: #fff;
}
.main-control-button.active:hover {
  border: 1px solid #bb1b15;
  background-color: #bb1b15;
}

.main-control-button.call-button {
  width: auto;
  color: #353535;
  padding: 0 20px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  background-color: #eeeeee;
  cursor: pointer;
}

.main-control-button.call-button:hover {
  border: none;
  border-radius: 6px;
  background-color: #eeeeee;
  font-size: 16px;
}

.main-control-button.chat {
  border: none;
  color: #afafaf;
  font-size: 16px;
}

.main-control-button.chat:hover {
  border: none;
  border-radius: 6px;
  background-color: #eeeeee;
  font-size: 16px;
}

.sidebar {
  visibility: hidden;
  position: absolute;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  width: 320px;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.open-sidebar .sidebar {
  visibility: visible;
  transform: none;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.sidebar-header h6 {
  font-size: 20px;
  margin: 0;
}

.sidebar-header i {
  color: #838383;
}

.sidebar .sidebar-chat {
  flex-grow: 1;
}

.message-container {
  border-top: 1px solid #e2e2e2;
  height: 47px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.message-container input {
  line-height: 1.75;
  border: none;
  border-bottom: 2px solid #e2e2e2;
  outline: none;
  width: 100%;
  transition: all ease-in-out 100ms;
}

.message-container input:hover,
.message-container input:focus {
  border-bottom: 2px solid #7777ff;
}

.message-container button {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;
}

.message-container button:hover i,
.message-container button:focus i {
  color: #7777ff;
  outline: none;
}

.videos-container {
  max-height: 100%;
  width: 100%;
  padding-top: 60%;
  height: 0;
  position: relative;
}

#video-grid {
  position: absolute;
  top: 0;
  left: 5px;
  right: 7px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  height: 100%;
}

#video-grid.users-2,
#video-grid.users-3,
#video-grid.users-4 {
  grid-template-columns: 1fr 1fr;
}

#video-grid.users-5,
#video-grid.users-6,
#video-grid.users-7,
#video-grid.users-8,
#video-grid.users-9 {
  grid-template-columns: 1fr 1fr 1fr;
}

#video-grid.users-5 .user:nth-child(4),
#video-grid.users-5 .user:nth-child(5),
#video-grid.users-3 .user:nth-child(3) {
  left: 50%;
}

#video-grid .user {
  width: 100%;
  padding-top: 60%;
  height: 0;
  position: relative;
  border: 1px solid #777777;
  border-radius: 4px;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

#video-grid .user .info {
  position: absolute;
  left: 8px;
  bottom: 5px;
  z-index: 2;
  color: #fff;
  font-size: 12px;
}

.user .info span.data {
  background-color: #c91e18;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
}

.user .no-cam {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  font-weight: 700;
  color: #454545;
}

span.no-cam.bg-red {
  background-color: #c23f3a;
  color: #fff;
}

span.no-cam.bg-orange {
  background-color: #d97d10;
  color: #fff;
}

span.no-cam.bg-yellow {
  background-color: #f4d61d;
  color: #454545;
}

span.no-cam.bg-blue {
  background-color: #3a6cc2;
  color: #fff;
}

span.no-cam.bg-violet {
  background-color: #983ac2;
  color: #fff;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-container {
  transition: all 300ms ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.modal-container.open {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.35);
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
}

.modal {
  opacity: 0;
  width: 40%;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  transition: all 300ms ease-in-out;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.open .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.modal-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 18px;
}

.modal-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.modal-body {
  padding: 15px 70px;
  flex-grow: 1;
}

.modal-body label {
  font-size: 14px;
}

.modal select {
  display: block;
  width: 100%;
  height: 35px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0 30px 0;
}

.modal-bottom {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

.modal-bottom button {
  transition: background-color ease-in-out 200ms;
  background-color: #7777ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 20px;
}

.modal-bottom button:hover {
  background-color: #6565d6;
}
